<header class="w-full">
        <div class="flex justify-between">
                <%= link_to  movies_path do %>
                        <h1 class="text-2xl hover:text-red-500 font-bold text-teal-400 font-serif "><%= t('app_name')%></h1>
                <% end %>
        
                <%= render 'shared/items'%>
        </div>
        
        
</header>