<div class="w-full flex justify-end">
        <%= link_to t(".New_movie"), new_movie_path, class: "flex hover:text-green-500 font-bold text-gray-300 font-serif items-center text-center mr-2"  %>
        <%= link_to t(".New_genre"), new_genre_path, class: "flex hover:text-green-500 font-bold text-gray-300 font-serif items-center text-center mr-2"  %>

</div>